@charset "utf-8";
/*CSS Document*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
input,select,textarea,img,div{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}
/*clearFloat*/
.clearfix{clear:both;}
input{
	border:none;
}
body{
	background-color: rgba(255,250,250,.8);
}
.mainhead{
	width: 100%;
	height: 30px;
	background-color: rgba(100,255,255,1);
}
.workspace{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.ul{
	float: right;
}
.ul li{
	font-size: 1.2em;
	display: inline-block;
	line-height: 30px;
	margin-right: 5px;
}
.logo img{
	width: 80px;
	height: 80px;
}
.ul li a{
	color: rgba(112,128,144,1);
}
.ul li a:hover{
	color: rgba(210,105,30,1);
}

.searchBox{
width: 432px;
margin-left: 150px;
margin-top: 20px;
}
.search_text{
	width: 350px;
	height: 35px;
	float: left;
	padding: 0 5px;
	 border:1px solid #ff8c00;
}
.shopCar{
background-color: #ffffff;
width: 100px;
height: 35px;
color: #fff;
line-height: 35px;
padding-left: 30px;
margin-top: 23px;
border: 1px solid #ff8c00;
}
.shopCar a{
	float: right;
	margin-right: 20px;
}
.shopCar img{
	float: left;
	margin-top: 8px;
	margin-left: 2px;
}
h3{
	color: #fff;
}
.shopClass,.nav{
	float: left;
}
.nav li{
	display: inline-block;
	padding: 0 30px;
	font-size: 15;
}
.search_btn{
	width: 70px;
	height: 37px;
	float: right;
	background-color: #ff8c00;
	color: #fff;
	font-size: 14;
	font-family: "微软雅黑";
}
.search{
	height: 80px;
}
.logo{
	margin-top: 5px;
	margin-left: 5px;
}
.shopClass h3{
	color: rgba(112,128,144,1);
	font-size: 20px;
}
.shopClass h3:hover{
		color: rgba(0,139,0,1);
}
.shopClass h3 span{
	font-weight: bolder;
}
.leftArea{
	float: left;
}
.rightArea{
	float: right;
}
.nav li a{
	color: rgba(112,128,144,1);
	font-size: 20px;
}
.navBox{
	height: 35px;
	line-height: 35px;
}
.nav li{
	display: inline-block;
	padding: 0 30px;
}
.nav li a:hover{
	color: rgba(0,139,0,1);
}
.focus{
	width: 1000px;
	border: 1px solid #333;
	position: relative;
	overflow: hidden;
	height: 300px;
}
.focusImg{
	display: inline;
	width: 7000px;
	position: absolute;
	z-index: 1;
	height: 300px;
}
.focusImg img{
	float: left;
}
.button{
	position: absolute;
	height: 10px;
	width: 100px;
	z-index: 2;
	bottom: 20px;
	left: 450px;
	opacity: .5;
}
.button span{
	cursor: pointer;
	float: left;
	border: 1px solid #fff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #333;
	margin-right: 5px;
}

.button .on{
	background:orangered;
}
.arrow{
	position: absolute;
	cursor: pointer;
	display: none;
	line-height: 39px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	z-index: 2;
	top: 120px;
	background-color: #333;
	color: #ffffff;
}
.focus:hover .arrow{
	display: block;
	opacity: .3;
}
#prev{
left: 40px;
}
#next{
	right: 40px;
}
.eachone{
	width: 247px;
	height: 445px;
}
.workspace .eachone{
	display: inline-block;
}
.eachone:hover{
	box-shadow: 0 0 1px 1px rgba(102,139,139,1);
}
.detail{
	width: 230px;
	height: 425px;
	padding: 10px;
}
.money{
	font-size: 25px;
	color: rgba(139,69,19,.8);
}
.description{
	font-size: 14px;
	color: rgba(0,206,209,1);
}
.comment{
	color: rgba(0,197,225,.8);
	font-size: 14px;
}
.comment span{
	font-size: 25px;
	color: rgba(0,197,225,1);
}
.fenye .page{
	width: 40px;
	display: inline-block;
	font-size: 18px;
	border:1px solid rgba(12,32,125,.8);
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color:rgba(0,229,238,.8);
}
.fenye .up,.fenye .down{
	width: 60px;
	display: inline-block;
	font-size: 18px;
	border:1px solid rgba(12,32,125,.8);
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color:rgba(0,229,238,.8);
}
.fenye{
	width: 500px;
	margin-left:auto;
	margin-right:auto;
}
.fenye .up，fenye down{
	border:1px solid rgba(12,32,125,.8);
}
.fenye span{
	font-size: 25px;
}
.login_head img{
	width: 60px;
	height: 60px;
	display: inline-block;
}
.login_welcome{
	display: inline-block;
	height: 60px;
	line-height: 60px;
	font-size: 25px;
}
.login_notice{
	height: 30px;
	background-color: rgba(230,230,250,.3);
	color: rgba(82,139,139,.8);
	line-height: 30px;
}
#allGoods{
	font-size:18px;
}
.login_login .login_notice{
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	padding-left: 30px;
}
.login_search div{
	display: inline-block;
	color: #668B8B;
	font-size: 19px;
	height: 50px;
	line-height: 50px;
}
.login_search div:hover{
	color: #008B00;
	font: bolder;
}
.login_search_1{
	margin-left: 30px;
}
.login_search_2{
	margin-left: 50px;
}
.login_search_3{
	margin-left: 70px;
}
.login_login{
	width: 345px;
	float: right;
	margin-top: 10px;
	position: relative;
	background-color: white;
	height: 400px;
}
.login_search{
	width: 345px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #FAF0E6;
}
.login_username,.login_password{
	border: 1px solid #00CED1;
	font-size: 22px;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding: 0;
	position: relative;
}
input[name="username"],input[name="password"]{
	border: none;
	position: absolute;
	height: 32px;
	width: 247px;
	border-left: 1px solid #00CED1;
	font-size: 15px;
}
.login_forget{
	position: absolute;
	color: #FF0000;
	right: 30px;
	top:235px;
}
input[name="submit"]{
	border: none;
	width:280px;
	margin-left: 35px;
	margin-top: 40px;
	height: 37px;
	background-color: #CD2626;
	color: white;
	font-size: 20px;
	letter-spacing:15px;
}
.login_regist{
	font-size: 16px;
	color: #D2691E;
	position: absolute;
	top: 370px;
	right: 20px;
}
.login_loginBox{
	width: 974px;
	height: 475px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../IMG/bg.jpg);
}
.login_motou{
	background-color: rgba(233,56,84,1);
	width: 100%;
	height: 475px;
}
.login_foot div{
	display: inline-block;
	margin-left:15px;
	margin-top: 30px;
	color: rgba(82,139,139,1);
	font-size: 15px;
}
.login_disclaimer{
	display:block;
	margin-top: 30px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	color: rgba(82,139,139,1);
	font-size: 15px;
}
.head_left{
	float:left;
}
.head_left img,.head_left a{
	display:inline-block;
}
