<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <filter>
  <filter-name>EncodingFilter</filter-name>
  <filter-class>filter.EncodingFilter</filter-class>
 </filter>
 <filter>
  <filter-name>RoleFilter</filter-name>
  <filter-class>filter.RoleFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>EncodingFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>RoleFilter</filter-name>
  <url-pattern>/admin/*</url-pattern>
 </filter-mapping>
 <servlet>
 <servlet-name>defaultServlet</servlet-name>
 <servlet-class>servlet.defaultServlet</servlet-class>
 <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
 <servlet-name>defaultServlet</servlet-name>
 <url-pattern>/hello</url-pattern>
 </servlet-mapping>
  <servlet>
  <servlet-name>CheckImgServlet</servlet-name>
  <servlet-class>servlet.CheckImgServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ActiveServlet</servlet-name>
  <servlet-class>servlet.ActiveServlet</servlet-class>
 </servlet>
 <!-- aaaaaaaaaaaaaaaaaaaaaaaaaa -->
 <servlet>
  <servlet-name>FindBookByIdServlet</servlet-name>
  <servlet-class>servlet.FindBookByIdServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>PageServlet</servlet-name>
  <servlet-class>servlet.PageServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FindBookInfoServlet</servlet-name>
  <servlet-class>servlet.FindBookInfoServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>deleteCarServlet</servlet-name>
  <servlet-class>servlet.deleteCarServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AddCartServlet</servlet-name>
  <servlet-class>servlet.AddCartServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ChangeNumServlet</servlet-name>
  <servlet-class>servlet.ChangeNumServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MyAccount</servlet-name>
  <servlet-class>servlet.MyAccount</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ModifyUserServlet</servlet-name>
  <servlet-class>servlet.ModifyUserServlet</servlet-class>
 </servlet>
 
 <servlet>
  <servlet-name>PayOnlineServlet</servlet-name>
  <servlet-class>servlet.PayOnlineServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CallBackServlet</servlet-name>
  <servlet-class>servlet.CallBackServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UserServlet</servlet-name>
  <servlet-class>servlet.UserServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>OrderServlet</servlet-name>
  <servlet-class>servlet.OrderServlet</servlet-class>
 </servlet>
 <servlet>
 <servlet-name>mohuFind</servlet-name>
 <servlet-class>servlet.mohuServlet</servlet-class>
 </servlet>
 <servlet>
 <servlet-name>addBooks</servlet-name>
 <servlet-class>servlet.AddBookServlet</servlet-class>
 </servlet>
 <servlet>
 <servlet-name>showCar</servlet-name>
 <servlet-class>servlet.showCarServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>FindBookByIdServlet</servlet-name>
  <url-pattern>/findProductByManyCondition</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>FindBookInfoServlet</servlet-name>
  <url-pattern>/findBookInfoServlet</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>deleteCarServlet</servlet-name>
  <url-pattern>/deleteCarServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CheckImgServlet</servlet-name>
  <url-pattern>/imageCode</url-pattern>
 </servlet-mapping>

 <servlet-mapping>
 <servlet-name>showCar</servlet-name>
 <url-pattern>/showCar</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 <servlet-name>mohuFind</servlet-name>
 <url-pattern>/mohuServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ActiveServlet</servlet-name>
  <url-pattern>/activeServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddCartServlet</servlet-name>
  <url-pattern>/addCartServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChangeNumServlet</servlet-name>
  <url-pattern>/changeNumServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 <servlet-name>PageServlet</servlet-name>
 <url-pattern>/pageServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 <servlet-name>addBooks</servlet-name>
 <url-pattern>/addBook</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MyAccount</servlet-name>
  <url-pattern>/myAccount</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ModifyUserServlet</servlet-name>
  <url-pattern>/modifyUserServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PayOnlineServlet</servlet-name>
  <url-pattern>/payOnlineServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CallBackServlet</servlet-name>
  <url-pattern>/callBackServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UserServlet</servlet-name>
  <url-pattern>/user</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OrderServlet</servlet-name>
  <url-pattern>/order</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
